.App {
	text-align: center;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	padding: 10px 0;
	margin-bottom: 16px;
}

.li-link {
	text-decoration: none;
	color: var(--white);
	padding: 14px 10px;
	font-size: 18px;
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

.li-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.primary-button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 30px;
	padding: 13px 20px;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	width: 87%;
	transition: all 0.2s ease-in-out;
}

.primary-button:hover {
	background-color: #1a8cd8;
}

.menu {
	display: flex;
	flex-direction: column;
	width: 16%;
	height: 98vh;
	margin-left: 12%;
	padding-top: 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-footer {
	display: flex;
	align-items: flex-end;
	height: -webkit-fill-available;
}

.profile-user {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: max-content;
	padding: 8px 10px;
	width: 90%;
	margin-bottom: 12px;
	transition: all 0.2s ease-in-out;
	border-radius: 30px;
}

.profile-user:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.profile-user img {
	width: 36px;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);
}

.profile-user-name {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.profile-user-name p {
	margin: 0;
}

.profile-user-name .name {
	font-family: 'chirp-bold';
}

.profile-user-name .username {
	font-family: 'chirp-regular';
	color: var(--grey);
}

.home {
	display: flex;
	flex-direction: column;
	width: 36%;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.row {
	display: flex;
	flex-direction: row;
}

.title {
	margin: 0;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 20px;
	padding: 0 14px;
}

.newtweet{
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.newtweet-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.newtweet-content {
	display: flex;
	flex-direction: row;
}

.newtweet-image {
	width: 45px;
	border-radius: 50%;
	padding: 0 14px;
}

.newtweet-textarea {
	border: none;
	margin-top: 10px;
	font-size: 1rem;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	font-family: 'chirp-regular';
	font-size: 18px;
	resize: none;
	letter-spacing: 0px;
	transition: all 0.2s ease-in-out;
}

.newtweet-textarea:focus {
	outline: none;
}

.newtweet-charlimit-text{
  margin-right: 14px;
}

.tweetbutton {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 30px;
	padding: 8px 15px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
 	margin-right: 10px;
}

.tweetbutton:hover {
	background-color: #1a8cd8;
}
