.App {
	text-align: center;
}

ul{
  padding: 0;
}

li {
	list-style: none;
	padding: 10px 0;
	margin-bottom: 16px;
}

.li-link {
	text-decoration: none;
	color: var(--white);
	padding: 14px 10px;
	font-size: 18px;
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

.li-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.primary-button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 30px;
	padding: 13px 20px;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.primary-button:hover {
	background-color: #1a8cd8;
}

.menu {
	display: flex;
	flex-direction: column;
	width: 14%;
	height: 97vh;
	margin-left: 10%;
  padding-top: 20px;
}

.menu-footer {
	display: flex;
	align-items: flex-end;
	height: -webkit-fill-available;
}

.profile-user {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: max-content;
	padding: 8px 10px;
	width: 100%;
	margin-bottom: 12px;
	transition: all 0.2s ease-in-out;
	border-radius: 30px;
}

.profile-user:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.profile-user img {
	width: 36px;
	border-radius: 50%;
	margin-right: 10px;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);
}

.profile-user-name {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.profile-user-name p {
	margin: 0;
}

.profile-user-name .name {
	font-family: 'chirp-bold';
}

.profile-user-name .username {
	font-family: 'chirp-regular';
	color: var(--grey);
}
